@import url('https://fonts.googleapis.com/css2?
<<<<<<< HEAD

:root {
    --cor-principal:#C78BA7;
    --cor-rosa:#ec94a1;
    --secundaria:#ffa392;
    --cor-laranja:#ffd770;
    --cor-amarelo:#f9f871;
    --cor-branco:#ffffff;
    --cor-preto:#000000;
}

#body {
    #body {
    background-color: var(--cor-rosa);
}

#rodape {
    background-color: var(--cor-principal);
    color: var(--cor-branco);
}

#ancora {
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 20px;
    transition:  color 0.3s ease;
}
#ancora:hover {
    color: var(--cor-principal);
    cursor: pointer;
    text-decoration: underline;

:root {
      --cor-principal: #dc0080;
    --cor-escuro: #bc00cabc;
    --cor-secundaria: #85004c;
    --cor-azulclaro: #380057;
    --cor-azulescuro: #a20000;
    --cor-branco: #ffffff;
    --cor-preto: #000000;
}

.habilidades {
    text-decoration: none;
}